body{
font-family:"Times New Roman";
font-size:large;
font-style:"text-ident:35pt";
color:#FFFFFF;
background-color:#000080;}
a:link { color: #ffffff}
a:visited { color: #00ffff}
a:hover { color: #ffcc00}
a:active { color: #0000ff }
h1{
font-family:"Times New Roman";
font-size:xx-large;
color:#FFFF00;
background-color:#000080;
font-style:italic;
text-align:center;
}

h2{
font-family:"Times New Roman";
font-size:x-large;
color:#FFFF00;
background-color:#000080;
font-weight:bold;
text-align:center;
}
h3{
font-family:"Monotype Corsiva";
font-size:x-large;
color:#FFFF00;
background-color:#000080;
font-weight:bold;
text-align:center;
}
h4{
font-family:"Times New Roman";
font-size:xx-large;
color:#FFFF00;
background-color:#000080;
font-weight:bold;
text-align:center;
}
h5{
font-family:"Times New Roman";
font-size:xx-large;
color:#FFFFFF;
background-color:#000080;
font-weight:bold;
font-style:italic;
text-align:center;
}

